<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Shorten Your URL</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

{% for message in get_flashed_messages() %}
<h3>{{ message }}</h3>
{% endfor %}

    <form class="box" action="short-url" method="post">
        <h1>Teeny URL</h1>
        <input type="url" name="url" placeholder="URL" required>
        <input type="text" name="code" placeholder="Short Name" required>
        <input type="submit" value="Go!">
    </form>

    <h2>Short names you have created</h2>
    {% if codes %}
    <ul>
            {% for code in codes %}
            <a href="{{ url_for('redirect_route', code=code)}}"><li>{{ code }}</li></a>
            {% endfor %}
    </ul>
    {% endif %}

</body>
</html>